#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_auto_configure:
	PKG_CONFIG_PATH="" dh_auto_configure -- -DModules_DIR=/usr/share/cmake \
-DLLVT_ROOT_DIR=/usr \
-DSEARCH_FOR_VISP=ON -DVISP_ROOT_DIR=/usr -DVISP_DIR=/usr/lib
-DSEARCH_FOR_DC_1394_V2=ON \
-DDC_1394_V2_ROOT_DIR=/usr \
-DDC_1394_V2_INCLUDE_DIRS=/usr/include \
-DDC_1394_V2_LIBRARY_DIRS=/usr/lib

%:
	dh  $@
